@font-face {
    font-family: 'ROKAFSansMedium';
    font-weight: 400;
    src: url('../../fonts/ROKAFSansMedium.woff') format('woff');
}

@font-face {
    font-family: 'ROKAFSansBold';
    font-weight: 700;
    src: url('../../fonts/ROKAFSansBold.woff') format('woff');
}
